<div id="table">
	<!-- injected: table -->
</div>

<div class="pane-answers">
	<h2 id="hidden-title">Pannello Risposte</h2>

	<div class="flex-row">
		<!-- Selezione squadra -->
		<div class="flex-column">
			<div class="group-answer">
				<label>
					Squadra:
					<select id="seleziona-squadra">
						<!-- injected: option -->
					</select>
				</label>
			</div>
		</div>
		<!-- Selezione domanda -->
		<div class="flex-column">
			<div class="group-answer">
				<label>
					Risposta n°:
					<input id="seleziona-domanda" type="number" min="1" max="42">
				</label>
			</div>
		</div>
		<!-- Selezione risposta -->
		<div class="flex-column">
			<div class="group-answer">
				<label>
					Risposta:
					<input id="seleziona-risposta" type="password">
				</label>
			</div>
		</div>
		<!-- Selezione jolly -->
		<div class="flex-column">
			<div class="group-answer">
				<button id="invia-risposta">Invia</button>
			</div>
			<div class="group-answer">
				<button id="invia-jolly">Imposta Jolly</button>
			</div>
		</div>

	</div>

</div>
