
$border-color: #d0d0d0

html, body
   padding: 0
   margin: 0
   box-sizing: content-box

body
   font-family: 'Inconsolata', monospace
   padding-bottom: 100px
   min-height: calc(100vh - 100px)
   position: relative
   // display: flex
   // flex-direction: column
   // align-items: center

//    width: 100%
//    max-width: 1200px

nav
   
   // border-left: 1px solid $border-color
   border-bottom: 1px solid $border-color
   // border-right: 1px solid $border-color

   .row

      & > div

         // &:first-child
            // justify-content: flex-start
            // padding-left: 30px

         display: flex
         align-items: center
         justify-content: center
         height: 50px

footer
   position: absolute
   bottom: 0
   // margin-top: 60px
   height: 50px
   width: 100%
   font-family: 'Open Sans', sans-serif

   .container
      height: 100%
      border-top: 1px solid $border-color

      .row
         height: 100%

         .copyright
            display: flex
            align-items: center
            justify-content: center
            height: 100%

a
   color: black
   text-decoration: none

   &:hover
      color: black
      text-decoration: underline
      cursor: pointer

#app

   margin-top: 60px

   .post
      margin-bottom: 2rem

      .info
         .crono
            display: flex
            align-items: center
            font-size: 1.4rem
            height: 3.0rem
            color: #888

      
      a.title
         display: flex
         align-items: center

         height: 3.0rem
         font-size: 2.75rem

         // text-decoration: none
         // color: black

      .subtitle
         font-size: 1.3rem
         margin-bottom: 1.0rem

      p
         font-family: 'Open Sans', sans-serif

.article

   font-family: 'Open Sans', sans-serif

   h1, h2, h3, h4
      letter-spacing: 0

   blockquote
      margin-left: 0
      border-left: 4px solid #cfcfcf
      padding-left: 1rem
      color: #888

   h1
      font-family: 'Inconsolata', sans-serif
      font-size: 4.5rem

      & > small
            margin-left: -1rem
            font-size: 2.0rem
            color: #555

   h2
      font-family: 'Inconsolata', sans-serif
      font-size: 3.5rem
   h3 
      font-family: 'Inconsolata', sans-serif
      font-size: 2.5rem
   p
      font-size: 1.5rem
   code
      font-size: 1.6rem
   
   ol
      list-style-type: lower-roman
   ul
      list-style-type: disc

   a
      padding: 0 2px
      text-decoration: none
      border-top: 2px solid transparent
      border-bottom: 2px solid #000

      $visited-link: #738

      &:hover
         background: royalblue
         color: white !important
         border-color: transparent
         border-radius: 4px
         &:visited
            background: $visited-link

      &:visited
         color: $visited-link
         border-color: $visited-link




// Background Coloring

body
//    background: #f8f8fd

.container
   background: #ffffff